
.wrap{
    background-image: url(../../assets/img/background-soft.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
    margin-bottom: 0px;
    padding: 205px 0px 200px 0px;
    display: flex;
}