/* *{
  box-sizing: border-box;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button.btn-block.z-depth-1a.white-text.font-weight-bold.btn.btn-primary {
  background-color: #13a549 !important;
}
.btn-primary{
  background-color: #4285f4;
}
.MuiOutlinedInput-input {
  padding: 14.5px 10px;
}
/* div#root {
  background: #1ac65a;
}
a {
  color: white;
  /* color: #007bff; */
  /* text-decoration: none;
  background-color: transparent;
} */ 